nav{
    border: 2px solid white;
    height: 100vh;
    background-color: black;
    display: flex;
    gap: 20px;
}


.nan{
    border: 2px solid white;
    height: 100px;
    width: 100px;
    
}


#ten1{
    background-color: aliceblue;
    color: black;
    position: absolute;
    /* top: 100px;
    left: 60px; */
    z-index: 1;
}


#ten2
{
    background-color:wheat;
    /* position: relative; */
    /* top: 300px; */
    position: absolute;
    z-index: 2;
}


#ten3{
    background-color: blue;
    position: absolute;
    /* position: static; */
    /* top: 400px; */
    z-index: 4;

}


#ten4{
    background-color: red;
    position: absolute;
    /* position: sticky; */
    /* top: 400px; */
    z-index: 6;
}

#ten5{
    background-color: blueviolet;
    position: fixed;
    left: 300px;
}




